.scroll-reveal {
  margin: 0;
  perspective: 1000px;
}

.scroll-reveal-text {
  font-size: 30px;
  line-height: 1.8;
  font-weight: 800;
  text-wrap: balance;
}

.word {
  display: inline-block;
  white-space: pre;
}
